In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('https://drive.google.com/uc?id=1il9RDoxwrgUjoOqd9yvdV760_M1AvziI')

In [4]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
...,...,...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [5]:
type(data)

pandas.core.frame.DataFrame

In [10]:
data.Age.nunique()

7

In [16]:
data[(data.City_Category == 'A') & (data.Gender == 'M')].User_ID.count()

109831

In [20]:
len(data[(data.Gender == 'F') & (data.Age == '46-50') & (data.Purchase > 20000)])

Wall time: 46.4 ms

270

In [23]:
len(data[data.Product_Category_3.isna()])

373299

In [32]:
round(len(data[((data.Gender == 'M') & (data.Age == '26-35')) | ((data.Gender == 'F') & (data.Age.isin(['36-45', '46-50', '51-55', '55+'])))]) / len(data), 4)

0.4077